@import "tailwindcss";
/* Hide scrollbars but keep horizontal scrolling */
.no-scrollbar {
  overflow-x: auto;      /* allow horizontal scrolling */
  overflow-y: hidden;    /* prevent vertical scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}